
# Postgres Live
API_SECRET=98hbundhhfggfgfgfg98h #Used when creating a JWT. It can be anything
DB_HOST=127.0.0.1
DB_DRIVER=postgres
DB_USER=username
DB_PASSWORD=password
DB_NAME=goauth_db
DB_PORT=5432 #Default postgres port

# Postgres Test
TestApiSecret=98hbun9dbhdhhdhdhd8h
TestDbHost=127.0.0.1
TestDbDriver=postgres
TestDbUser=username
TestDbPassword=password
TestDbName=goauth_db_test
TestDbPort=5432
